<ng-container *ngIf="book$ | async as book; else loading">

  <h2>{{ book.title }} - {{ book.rating }} </h2>


  <p *ngIf="showDetails">
    Details:
    {{ book.description }}
  </p>

  <button (click)="showDetails = !showDetails">
    Toggle
  </button>

</ng-container>

<h2 *ngIf="isLoading">Bitte warten!</h2>


<ng-template #loading>
  <h2>Warte auf das erste Buch...</h2>
</ng-template>

<hr>

<a routerLink="/books/9783864907845">Gehe zu 9783864907845</a><br>
<a routerLink="/books/404">Gehe zu 404</a><br>
